In [2]:
#Import required Libraries. 
import numpy as np
import pandas as pd
import cx_Oracle 
import gzip

import pickle
from datetime import datetime, timedelta

In [3]:
conn = cx_Oracle.connect('ReportUser/report@10.10.1.7:1521/rproods')
cur = conn.cursor()

In [8]:
first_date = '31/12/2019'
last_date = '31/01/2020'

In [9]:
q = "select c.CUST_SID, c.SBS_NO,c.FIRST_NAME, c.LAST_NAME, c.CREATED_DATE,c.LST_SALE_DATE, c.LST_SALE_AMT, a.PHONE1, a.EMAIL_ADDR FROM CUSTOMER_V c LEFT JOIN CUST_ADDRESS_V a ON c.CUST_SID=a.CUST_SID WHERE c.LST_SALE_DATE BETWEEN to_date('{}','DD/MM/YYYY') AND to_date('{}','DD/MM/YYYY')".format(first_date, last_date)

In [10]:
cur.execute(q)
s =  cur.fetchall()

In [11]:
cols = ['CUST_SID', 'SBS_NO','FIRST_NAME', 'LAST_NAME', 'CREATED_DATE', 'LST_SALE_DATE', 'LST_SALE_AMT', 'PHONE', 'EMAIL_ADDR']

In [12]:
data = pd.DataFrame(s, columns=cols)

In [13]:
data.head()

,CUST_SID,SBS_NO,FIRST_NAME,LAST_NAME,CREATED_DATE,LST_SALE_DATE,LST_SALE_AMT,PHONE,EMAIL_ADDR
0,-2376407829632022041,100,IBI-ADA,0,2014-12-01 15:49:53,2020-01-27 20:03:19,640.0,8067946912,ibiada007@yahoo.com
1,-2376407829447026458,100,,OBIENYI,2014-12-01 15:49:53,2020-01-26 14:27:07,1950.0,8033012121,None
2,-2376407830748800750,100,OYEBOLA,OGUNSANYA,2014-12-01 15:49:53,2020-01-30 21:01:35,2800.0,8065254243,oyebeczul@gmail.com
3,-2376407827705987348,100,FUNMITO,AGUSTO,2014-12-01 15:49:53,2020-01-24 19:50:27,5920.0,8033055882,funmito_agusto@yahoo.com
4,-2376407829003225753,100,KOGBE,OLUWABUKOLA,2014-12-01 15:49:53,2020-01-12 13:00:39,6070.0,8025553770,None

In [54]:
t = datetime.strptime(last_date,"%d/%m/%Y")

In [55]:
months = t.strftime('%B')

In [56]:
months

'January'

In [60]:
filename = "Monthly_Active_Customers/"+months.strip()+"_Active_Customers.csv"

In [61]:
filename

'Monthly_Active_Customers/January_Active_Customers.csv'

In [63]:
data.to_csv(filename)