In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.tree import DecisionTreeClassifier

ModuleNotFoundError: No module named 'sklearn.compose'

In [2]:
!wget https://s3.amazonaws.com/drivendata/data/4/public/da1dd36a-a497-42c7-b3f3-4a225944bdba.zip -nc -P ./education/

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
!unzip /education/da1

In [4]:
df = pd.read_csv('education/TrainingData.csv', index_col=0)

In [ ]:
!conda install -c conda-forge scikit-learn

In [ ]:
df.info()

# Attempt #1: Numerical Features Only

In [5]:
numerical_features = [ n for n in df.columns if df[n].dtype!='object']

In [6]:
label_cols = ['Function', 'Object_Type',
'Operating_Status',
'Position_Type',
'Pre_K',
'Reporting',
'Sharing',
'Student_Type',
'Use']

In [7]:
X=df.drop(label_cols, axis = 1)
y = df[label_cols]

In [8]:
X.head()

,Object_Description,Text_2,SubFund_Description,Job_Title_Description,Text_3,Text_4,Sub_Object_Description,Location_Description,FTE,Function_Description,Facility_or_Department,Position_Extra,Total,Program_Description,Fund_Description,Text_1
134338,NaN,NaN,NaN,Teacher-Elementary,NaN,NaN,NaN,NaN,1.0,NaN,NaN,KINDERGARTEN,50471.810,KINDERGARTEN,General Fund,NaN
206341,CONTRACTOR SERVICES,BOND EXPENDITURES,BUILDING FUND,(blank),Regular,NaN,NaN,NaN,NaN,RGN GOB,NaN,UNDESIGNATED,3477.860,BUILDING IMPROVEMENT SERVICES,NaN,BUILDING IMPROVEMENT SERVICES
326408,Personal Services - Teachers,NaN,NaN,TCHER 2ND GRADE,NaN,Regular Instruction,NaN,NaN,1.0,NaN,NaN,TEACHER,62237.130,Instruction - Regular,General Purpose School,NaN
364634,EMPLOYEE BENEFITS,TEACHER SUBS,GENERAL FUND,"Teacher, Short Term Sub",Regular,NaN,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,22.300,GENERAL MIDDLE/JUNIOR HIGH SCH,NaN,REGULAR INSTRUCTION
47683,TEACHER COVERAGE FOR TEACHER,TEACHER SUBS,GENERAL FUND,"Teacher, Secondary (High)",Alternative,NaN,NaN,NaN,NaN,NON-PROJECT,NaN,PROFESSIONAL-INSTRUCTIONAL,54.166,GENERAL HIGH SCHOOL EDUCATION,NaN,REGULAR INSTRUCTION

In [9]:
ct = ColumnTransformer(remainder='drop', 
                      transformers = [
                          ('inputer',Imputer(strategy='mean'), numerical_features )
                      ])

NameError: name 'ColumnTransformer' is not defined

In [ ]:
one_feat_model= Pipeline([
    ('transformer', ct),
    ('predictor', DecisionTreeClassifier())
    
])

In [ ]:
one_feat_model.fit(X,y)

In [ ]:
one_feat_model.predict