In [1]:
#Import required Libraries. 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cx_Oracle 
import gzip
import pickle
from datetime import datetime

In [6]:
#Connect to the database

conn = cx_Oracle.connect('ReportUser/report@10.10.1.7:1521/rproods')
cur = conn.cursor()

In [31]:
query = "SELECT I.INVC_SID, I.ITEM_SID, I.QTY, I.PRICE,(I.QTY*I.PRICE), I.COST, (I.QTY*I.COST), v.INVC_SID, v.SBS_NO, I.USR_DISC_PERC, v.STORE_NO, v.INVC_TYPE, I.TAX_AMT, v.CREATED_DATE, L.REDEEMED_AMT, L.GIFT_AMT, L.TOTAL_BASED_DISC, L.PERC_REWARD_DISC_AMT, L.USED_POINTS_POSITIVE, L.USED_POINTS_NEGATIVE, T.TENDER_TYPE, T.AMT, S.STORE_NAME FROM INVC_ITEM_V I LEFT JOIN INVOICE_V v ON I.INVC_SID=v.INVC_SID LEFT JOIN INVC_LTY_V L ON v.INVC_SID = L.INVC_SID LEFT JOIN INVC_TENDER_V T ON v.INVC_SID =  T.INVC_SID LEFT JOIN STORE_V S ON (v.SBS_N0+v.STORE_NO) = (S.SBS_NO+S.STORE_NO)"

In [32]:
cur.execute(query)

DatabaseError: ORA-06553: PLS-306: wrong number or types of arguments in call to 'V'

In [ ]:
cur.fetchall()